doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title.text-center 404 NOT FOUND
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css')
nav.navbar.navbar-dark.bg-dark
  a.navbar-brand(href='/')
    | Notes App
.container
  .jumbotron.text-center(style='margin-top: 80px;')
    h1.display-4 Express.js Notes App
    h1.display-4
      span(role='img' aria-label='Memo') &#x26A0;&#xFE0F;
      | 404 NOT FOUND
      span(role='img' aria-label='Memo') &#x26A0;&#xFE0F;
    h4.mt-4 You shouldn&apos;t be on this page.
    a.btn.btn-primary.btn-lg.mt-4(href='/' role='button') Leave
script(src='./assets/js/index.js')
