doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Express.js Notes App
  //link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU' crossorigin='anonymous')
  link(rel='stylesheet' href='/assets/css/styles.css')
nav.navbar.navbar-dark.bg-dark
  a.navbar-brand(href='/') <span role="img" aria-label="Memo">📝</span> Notes App
.container-fluid
  .row
    .col-4.list-container
      .card
        ul.list-group
    .col-8
      .icons
        i.fas.fa-save.text-light.save-note
        i.fas.fa-plus.text-light.new-note
      input.note-title(placeholder='Note Title' maxlength='50' type='text')
      textarea.note-textarea(placeholder='Note Text')
script(src='/assets/js/index.js')
